<!DOCTYPE html>
<html>
<head>
	<title>Todo App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



</head>
<body>

	<div class="container">


		<div style="margin-top: 50px;"> 


			<span class="border border-info"><h2 style="text-align: center;"> YEK CMS 0.1</h2></span>


		</div>


		<br>


		<div>
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link active" href="/">Genel</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">İşlemler</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="musteribilgileri">Müsteri Bilgileri</a>
						<a class="dropdown-item" href="musteriekle"> Müsteri Ekle </a>
						<a class="dropdown-item" href="musteriayar"> Müsteri Ayarları </a>
						<a class="dropdown-item" href="stok">Stok Yönetimi</a>
						<a class="dropdown-item" href="mail">Mail İşlemleri</a>
						<a class="dropdown-item" href="sirket">Şirket İşlemleri</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="help">Destek</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Hakkımda</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">İletişim</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="kılavuz">Kılavuz</a>
				</li> 
			</ul>
		</div>



		<div style="margin-top: 100px">


			  <a href="/yenistok" class="btn btn-success">Yeni Stok Ekle</a>


			{% if mus == []%}
			<div class="alert alert-danger" role="alert">  			
					<p>Hiç müşteri bulunamadı..</p>
			</div>
			{% else %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">Ürün adı</th>
						<th scope="col">Tedarikçi Firma</th>
						<th scope="col">Tedarik Tarihi</th>
						<th scope="col">Kalan ürün</th>
						<th scope="col">Düzenle</th>
						<th scope="col">Sil</th>
					</tr>
				</thead>
				<tbody>
					{% for m in stok%}
					<tr>
						<th scope="row">{{m.id}}</th>
						<td>{{m.stok_adi}}</td>
						<td>{{m.tedarikci_adi}}</td>
						<td>{{m.tedarik_tarihi}}</td>
						<td>{{m.urun_adeti}}</td>
						<td><a href="/stokduzenle/{{m.id}}" class="btn btn-warning">Düzenle</a></td>
						<td><a href="/stokdelete/{{m.id}}" class="btn btn-danger">Sil</a></td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
			{% endif %}





		</div>












	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>